<p>
  <a href="http://www.codegrid.net/">CodeGrid</a>の「<a href="https://app.codegrid.net/entry/kss-1">生きたスタイルガイドのためのKSS</a>」の記事内で使用しているサンプルです。<br>
  詳細は上記URLの記事をご確認ください。
</p>

<p>
  このURLは実際に制作されるWebサイト・Webサービスのトップページになると想定して空けており、スタイルガイドは <a href="/styleguide/">/styleguide/<a> から閲覧できるようにしています。作例での経緯は「<a href="https://app.codegrid.net/entry/kss-4">生きたスタイルガイドのためのKSS(4)</a>」をご覧ください。
</p>

