<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>生きたスタイルガイドのためのKSS サンプルコード</title>
<link rel="stylesheet" type="text/css" href="/css/normalize.css">
<link rel="stylesheet" type="text/css" href="/css/styleguide.css">
</head>
<body>

  <header id="layout-header">
    <h1>生きたスタイルガイドのためのKSS サンプルコード</h1>
  </header>

  <div id="layout-wrap" class="cf">

    <main id="layout-main layout-main-fill">
      <%= yield %>
    </main>

  </div>

<script src="/js/kss.js"></script>
</body>
</html>
