/*
 * 標準的なボタンとして使用する。
 * 特徴的な条件のない、普通のフォームやページ内でユーザーに
 * アクションを求める場面でサイト内の多くの場所で用いる。
 *
 * :hover               - マウスがボタンに乗った状態
 * :disabled            - ボタンが使用不可能な状態
 * .button-danger       - 破壊的な変更をもたらす可能性のあるボタン
 * .button-danger:hover - .button-dangerにマウスが乗った状態
 *
 * Styleguide 1.1
 */
.button {
  margin: 0;
  padding: 5px 15px;
  font-family: 'Trebuchet MS', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  background-color: #0086AB;
  border: none;
  border-radius: 3px;
}
.button:hover {
  background-color: #42AAC7;
}
.button:disabled {
  background-color: #999;
  cursor: default;
}
.button.button-danger {
  background-color: #D04255;
}
.button.button-danger:hover {
  background-color: #E38692;
}

