<h2>Menus</h2>

<% styleguide_block '2.1' do %>
<nav class="menu">
  <ul>
    <li><a class="$modifier_class" href="#">Home</a></li>
    <li><a href="#">Service</a></li>
    <li><a href="#">Corporate</a></li>
    <li><a href="#">Access</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>
<% end %>
