<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Styleguide Example</title>
<link rel="stylesheet" type="text/css" href="css/normalize.css">
<link rel="stylesheet" type="text/css" href="css/styleguide.css">
<link rel="stylesheet" type="text/css" href="css/buttons.css">
</head>
<body>

  <header>
    <h1>Styleguide Example</h1>
  </header>

  <div id="wrap" class="cf">

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/buttons">Buttons</a></li>
      </ul>
    </nav>

    <main>
      <%= yield %>
    </main>

  </div>

<script src="js/kss.js"></script>
</body>
</html>
