<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Styleguide Example</title>
<link rel="stylesheet" type="text/css" href="/css/normalize.css">
<link rel="stylesheet" type="text/css" href="/css/styleguide.css">
<link rel="stylesheet" type="text/css" href="/css/buttons.css">
<link rel="stylesheet" type="text/css" href="/css/menus.css">
</head>
<body>

  <header id="layout-header">
    <h1>Styleguide Example</h1>
  </header>

  <div id="layout-wrap" class="cf">

    <nav id="layout-nav">
      <ul>
        <li><a href="/styleguide/">Home</a></li>
        <li><a href="/styleguide/buttons">Buttons</a></li>
        <li><a href="/styleguide/menus">Menus</a></li>
      </ul>
    </nav>

    <main id="layout-main">
      <%= yield %>
    </main>

  </div>

<script src="/js/kss.js"></script>
</body>
</html>
